* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

:root {
    --theme-color: #84cc16;
    --theme-offset-color: #cbd5e1;
    --theme-base-color: white;
    --shadow-color: grey;
    --text-color-1: black;
    --text-color-2: white;
    color: var(--text-color-1);
}

:root.dark {
    --theme-color: #84cc16;
    --theme-offset-color: #0f172a;
    --theme-base-color: black;
    --shadow-color: #84cc16;
    --text-color-1: white;
    --text-color-2: black;
    color: var(--text-color-1);
}

:root.light {
    --theme-color: #84cc16;
    --theme-offset-color: #cbd5e1;
    --theme-base-color: white;
    --shadow-color: grey;
    --text-color-1: black;
    --text-color-2: white;
    color: var(--text-color-1);
}

img {
    width: 24px;
}

svg {
    width: 24px;
    fill: var(--text-color-1);
}

.pfp {
    width: 36px;
}

/* MAIN CONTAINER */

.container {
    display: grid;
    grid-template: 50px 100px 1fr / 1fr 6fr;
}

/* HEADER */

.header {
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 550px auto;
    justify-content: space-between;
    background-color: var(--theme-base-color);
}

.header .search_panel {
    margin-left: 40px;
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-template-rows: 42px;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.header .search_panel input {
    margin-left: 10px;
    background-color: var(--theme-offset-color);
    border-radius: 12px;
    border: none;
    height: 24px;
}

.header .account_panel {
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
}

.header .account_panel > svg,img {
    margin-right: 20px;
}

.theme-icon:hover {
    cursor: pointer;
}

/* SIDEBAR */

.sidebar {
    grid-row: 1/4;
    background-color: var(--theme-color);
    color: var(--text-color-2);
    font-weight: 600;
    height: 100vh;
    display: grid;
    grid-template-rows: auto repeat(3, 1fr);
}

.sidebar .personal_panel, .support_panel {
    margin: 10px 0 100px 25px;
}

.sidebar svg {
    fill: var(--text-color-2);
}

.sidebar > div > div , .sidebar .dashboard{
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: start;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 20px;
}

.dashboard svg {
    width: 56px;
    margin: 10px;
}

.dashboard p {
    font-size: 20px;
}

/* NAVBAR */

.navbar {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
    padding: 0 70px;
    align-content: center;
    box-shadow: 0 0 8px 5px var(--shadow-color);
    background-color: var(--theme-base-color);
}

.profile_panel {
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, auto);
    align-content: center;
    align-items: center;
}

.profile_panel img {
    width: 56px;
    grid-row: 1/3;
    margin-right: 20px;
}

.profile_panel p {
    font-weight: 600;
}

.profile_panel img + p {
    font-size: 10px;
}

.profile_panel img + p + p {
    font-size: 20px;
}

.nav_panel button {
    background-color: var(--theme-color);
    border-radius: 20px;
    font-weight: 600;
    margin-right: 20px;
    border: none;
    padding: 10px 30px;
    color: var(--text-color-2);
}

/* CONTENT */

.content {
    grid-column: 2/3;
    background-color: var(--theme-offset-color);
    display: grid;
    grid-template: repeat(2, auto) / 1fr 250px;
    gap: 20px;
    padding: 50px 20px;
}

.content > div {
    display: grid;
    grid-template-rows: 50px 1fr;
}

.content  > div > div {
    border-radius: 20px;
}

.content > div > p {
    font-weight: 600;
}

/* Projects Panel */

.projects {
    grid-row: 1/3;
}

.content_grid {
    display: grid;
    grid-template: repeat(auto-fit, min(30%, 250px)) / repeat(auto-fit, 350px);
    gap: 20px;
}

.content_item {
    background-color: var(--theme-base-color);
    border-radius: 20px;
    border-left: 10px orange solid;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 24px;
}

.heading{
    font-weight: 600;
}

.description{
    font-size: 12px;
}

.content_item .button_box {
    justify-self: end;
}

/* Announcements */

.announcements_grid, .trending_grid {
    background-color: var(--theme-base-color);
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    align-items: center;
}

/* Trending */

.grid_item_3 {
    display: grid;
    grid-template-columns: 50px 1fr;
}

@media (max-width: 1000px) {
    .content_grid {
        display: grid;
        grid-template: repeat(auto-fit, min(30%, 250px)) / repeat(auto-fit, 350px);
        gap: 20px;
    }
}